doctype html
html
    head
         
    body
        h2 MongoDB User Manager
        a(href='/create')
            button Add User
        p
        each user, index in users
            div
                div UserID: #{user.userID} 
                div First name: #{user.first}
                div Last name: #{user.last}
                div Email: #{user.email} 
                div Age: #{user.age} 
                a(href='/edit/' + user.userID)
                    button Edit
                form(action='/delete/' + user.userID, method='post')
                    button(type='submit') Delete
                p
